<div class="container-fluid-full">
    <div class="row-fluid">
        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>
        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#/admin">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">Tables</a></li>
            </ul>
            <!--<button class="btn btn-info" ng-click="resizeWd()">Add new</a></button></br></br>-->
            <button type="button" class="btn btn-success">Add New</button>
<form style="position: relative;left:10px;width:300px" name="form-category">
    <fieldset>
        <legend>Add New</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="">Submit</button>
        <button class="btn btn-default" ng-click="">Cancel</button>
    </fieldset>
</form>
</div>
<!-- end: Content -->
</div><!--/#content.span10-->
<!--/fluid-row-->
</div>

<div class="clearfix"></div>