<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<form style="position: relative;left:10px;width:300px" name="form-category">
    <fieldset>
        <legend>Add New</legend>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="User Name" ng-model="user.username"
                   name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Pass Word"
                   ng-model="user.password"
                   name="password">
        </div>
        <div class="form-group">
            <label for="role-id">Role Id</label>
            <input type="text" class="form-control" id="role-id" placeholder="Role Id"
                   ng-model="user.role-id"
                   name="role-id">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="">Submit</button>
    </fieldset>
</form>
</div>