<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<form style="position: relative;left:10px;width:300px" name="form-category">
    <fieldset>
        <legend>Add New</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name"
                   ng-model="user.name"
                   name="name">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="">Submit</button>
    </fieldset>
</form>
</div>