<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    <form style="position: relative;left:10px;width:300px" name="form-table" name="form-add">
        <fieldset>
            <legend>Add New</legend>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name"
                       name="name">
            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <input type="text" class="form-control" id="position" placeholder="Position"
                       ng-model="user.position"
                       name="position">
            </div>
            <div class="form-group">
                <label for="Office">Office</label>
                <input type="text" class="form-control" id="Office" placeholder="Office" ng-model="user.office"
                       name="office">
            </div>
            <div class="form-group">
                <label for="Extn">Extn</label>
                <input type="text" class="form-control" id="Extn" placeholder="Extn" ng-model="user.extn"
                       name="extn">
            </div>
            <div class="form-group">
                <label for="start-date">Start date</label>
                <input type="text" class="form-control" id="start-date" placeholder="Start date"
                       ng-model="user.startdate" name="startdate">
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="text" class="form-control" id="salary" placeholder="Salary" ng-model="user.salary"
                       name="salary">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="addUser()">Submit</button>
        </fieldset>
    </form>
</div>