<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background:transparent;overflow: visible;box-shadow: none;border: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">New Group</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="recipient-code" class="form-control-label"><h5>Code:</h5></label>
                        <input type="text" class="form-control" id="recipient-code" placeholder="Type a code" ng-model="product.code">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label"><h5>Name:</h5></label>
                        <input type="text" class="form-control" id="recipient-name" placeholder="Type a name" ng-model="product.name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-price" class="form-control-label"><h5>Price:</h5></label>
                        <input type="text" class="form-control" id="recipient-price" placeholder="Type a price" ng-model="product.price">
                    </div>
                    <div class="form-group">
                        <label for="recipient-url" class="form-control-label"><h5>Url Image:</h5></label>
                        <input type="text" class="form-control" id="recipient-url" placeholder="Type a url image" ng-model="product.url" value="resource-admin/img/">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="recipient-category" class="form-control-label"><h5>Caegory:</h5></label>-->
                        <!--<input type="text" class="form-control" id="recipient-category" placeholder="Type a category" ng-model="product.category">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="recipient-category" class="form-control-label"><h5>Category:</h5></label>
                        <select class="form-control" name="recipient-role" id="recipient-category" ng-model="product.category">
                            <option ng-repeat="category in categories.data" value="{{category._id}}" >{{category.name}}</option>
                        </select>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label for="recipient-user" class="form-control-label"><h5>User:</h5></label>-->
                        <!--<input type="text" class="form-control" id="recipient-user" placeholder="Type a user" ng-model="product.user">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="recipient-user" class="form-control-label"><h5>User:</h5></label>
                        <select class="form-control" name="recipient-user" id="recipient-user" ng-model="product.user">
                            <option ng-repeat="user in users.data" value="{{user._id}}" >{{user.username}}</option>
                        </select>
                    </div>
                    {{product}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
