<div class="container-fluid-full">
    <div class="row-fluid">
        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>
        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">Tables</a></li>
            </ul>
            <!--<button class="btn btn-info" ng-click="resizeWd()">Add new</a></button></br></br>-->
            <!--BUTTON FLOATING-->
            <div class="fixed-action-btn horizontal" data-toggle="modal" data-target="#groupModal" data-whatever="@mdo" ng-click="addNew()">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons"><span class="fa fa-plus"></span></i>
                </a>
            </div>

            <div class="bd-example" ng-include="'src/admin/group/form-group.html'">
            </div>

            <!--BUTTON FLOATING END-->
            <!--Datatable-->
            <div style="overflow-x: auto">
                <table id="group_table" class="display" width="100%">
                    <tr>
                        <th>Id</th>
                        <th>Group Type Code</th>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Create Date</th>
                        <th>Modifined Date</th>
                        <th>Action</th>
                    </tr>
                </table>
            </div>
        </div>
        <!-- end: Content -->
    </div><!--/#content.span10-->
    <!--/fluid-row-->
</div>

<div class="clearfix"></div>
