<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<form style="position: relative;left:10px;width:300px" name="form-category">
    <fieldset>
        <legend>Add New</legend>
        <div class="form-group">
            <label for="barcode">Barcode</label>
            <input type="text" class="form-control" id="barcode" placeholder="Barcode" ng-model="user.barcode"
                   name="barcode">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name"
                   ng-model="user.name"
                   name="name">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Price"
                   ng-model="user.price"
                   name="price">
        </div>
        <div class="form-group">
            <label for="category-id">Category Id</label>
            <input type="text" class="form-control" id="category-id" placeholder="Category Id"
                   ng-model="user.catgory-id"
                   name="category-id">
        </div>
        <div class="form-group">
            <label for="user-id">User Id</label>
            <input type="text" class="form-control" id="user-id" placeholder="User Id"
                   ng-model="user.user-id"
                   name="user-id">
        </div>
        <div class="form-group">
            <label for="created-date">Create Date</label>
            <input type="text" class="form-control" id="created-date" placeholder="Creaete Date"
                   ng-model="user.created-date"
                   name="created-date">
        </div>
        <div class="form-group">
            <label for="modified-date">Modified Date</label>
            <input type="text" class="form-control" id="modified-date" placeholder="Modified Date"
                   ng-model="user.modified-date"
                   name="modified-date">
        </div>
        <div class="form-group">
            <label for="url-img">Image url</label>
            <input type="text" class="form-control" id="url-img" placeholder="Image url"
                   ng-model="user.url-img"
                   name="url-img">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="">Submit</button>
    </fieldset>
</form>
</div>